<div class="wrapper">
    <table>
        <thead>
            <th>Note</th>
            <th>Octave</th>
            <th>Duration</th>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
            <tr *ngFor="let note of notes; let i = index" cdkDrag>
                <!-- <div class="placeholder" *cdkDragPlaceholder></div> -->
                <td>
                    <mat-form-field class="note-dropdown">
                        <mat-select [disableOptionCentering]="true" [(ngModel)]="note.pitch" [disabled]="note.isRest">
                            <mat-option *ngFor="let pitch of notePitches" [value]="pitch">{{pitch}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="note-dropdown">
                        <mat-select [disableOptionCentering]="true" [(ngModel)]="note.octave" [disabled]="note.isRest">
                            <mat-option *ngFor="let octave of noteOctaves" [value]="octave">{{octave}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="note-dropdown">
                        <mat-select [disableOptionCentering]="true" 
                                    [(ngModel)]="note.duration"
                                    [compareWith]="compareDurations">
                            <mat-select-trigger>
                                <mat-icon [svgIcon]="note.duration.value" aria-hidden="false"></mat-icon>
                            </mat-select-trigger>
                            <mat-option *ngFor="let duration of noteDurations" [value]="duration">
                                <mat-icon [svgIcon]="duration.value" aria-hidden="false"></mat-icon>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-checkbox [(ngModel)]="note.isRest">
                        Rest note
                    </mat-checkbox>
                </td>
                <td>
                    <button mat-stroked-button (click)="playSingleNote(note)">Play note</button>
                </td>
                <td>
                    <button mat-stroked-button (click)="playNotes(i)">Play from here</button>
                </td>
                <td>
                    <button mat-stroked-button (click)="deleteNote(i)">Delete note</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button mat-mini-fab matTooltip="Add note" color="accent" aria-label="Add note" 
        class="add-note-btn" 
        (click)="addNote()">+</button>

    <br>
    <button mat-stroked-button (click)="playNotes()">Play all</button>

    <app-files-handler (createEvent)="createSubject($event)"></app-files-handler>
</div>